.questionPage{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.taskContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto;
}
.controlesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid white;
}
.controlesContainer .anterior,.controlesContainer .proxima{
    border-radius: 8px;
    padding: 8px;
    border: none;
}
.controlesContainer .anterior:hover,.controlesContainer .proxima:hover{
    cursor: pointer;
    color: red;
}
.anterior{
    margin-right: 1rem;
}
.controlesContainer .confirmar{
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: none;
    
}
.controlesContainer .confirmar:hover{
    cursor: pointer;
    color: goldenrod;
}

.questionList{
    display: grid;
    grid-template-columns: repeat(5,32px);
    
}
.questionList li{

    text-align: center;
    border: 1px solid white;
}
.infoContainer{
    border: 1px solid;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: flex-start;
    border-left: 1px solid white;
    padding: .5rem 1rem;
}
.relatorioContainer{
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
    
}