.questionPage{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
@media screen and (min-width:1024px){
    .questionPage{
        flex-direction: row;
    }
}
.taskContainer{
    display: flex;
    flex-direction: column;
}
.controlesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid white;
}


.questionList{
    display: grid;
    grid-template-columns: repeat(5,32px);
    
}
.questionList li{

    text-align: center;
    border: 1px solid white;
}
.infoContainer{
    border: 1px solid;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: flex-start;
    border-left: 1px solid white;
    padding: .5rem 1rem;
    order: -1;
}
.relatorioContainer{
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
    
}
.botao{
    border-radius: 8px;
    width: 120px;
    border: none;
    padding: 8px 0;
    font-weight: 700;
    margin-top: 2rem;
   
}
.botao:hover{
    cursor: pointer;
    color: red;
}

.mensagem{
    margin-left: 1rem;
    color: red;
    text-shadow: 1px 1px black;
}
