.item{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 3fr  1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-items: center;
}
.item:first-child{
    border-top: 1px solid white;;
}
.item__info{
    border-left: 1px solid white;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.item__info span{
   display: block;
}
.item__info span:first-child{
    margin-bottom: .5rem;
}
.item__question{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 1rem;
   
}
.item__answers{
    padding: 1rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-top: 1px solid white;
    
}
.item__answers input{
    margin-right: .5rem;
}
.answers{
    margin-bottom: .5rem;
    
}
.answers:last-child{
    margin-bottom: 0;
}
.confirmar{
    
    background-color: green;
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: none;
    width: 80px;
    justify-self: end;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.confirmar:hover{
    cursor: pointer;
    color: goldenrod;
}
.mensagem{
    text-align: center;
}